@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-family: sans-serif;
}
body {
    
    background: url('imagens/fundo.png')no-repeat center center fixed;
    background-size: cover;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
form {
    font-family: Arial;
    color: #d9e3f0;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
form input, form textarea {
    outline: unset;
    padding: 18px;
    min-width: 300px;
    border: 1px solid gray;
    border-radius:  15px;
}
form input:focus, form textarea:focus{
    background-color: #eeeeeea9;
}
form input[type=submit] {
    background-color: #539bf8;
    font-family: Arial;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
form label {
    margin-left: 10px;
}
