@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.fundo {
    background: rgb(1,1,19);
    background: linear-gradient(45deg, #10151f 4%, #221d85);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: #1f1d1d;
    border: none;
    color: white;
}
.botao:hover {
    background-color: #00000081;
    }
.botao#bt0 {
    width: 106px;
}
.botao#btigual {
    height: 106px;
}
#res {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
