@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

:root {
    --Paleta01: #00BCE3;
    --Paleta02: #00EAD8;
    --Paleta03: #8C52FF;
    --Paleta04: #01B6C9;
    --Paleta05: #33333385;
    --Fundo:    #1f1e1e;
    --Fundo02:  #2b2929af;
    --Sombra:   #252525b7;
    --Smenu:    #cacaca3f;
    --Escrita:  white;
    --fonte1:    Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--Fundo);
    padding: 30px;
    height: 100%;
    width: 100%;
    
}
img {
    max-width: 100%;
    display: block;
}
.logodc{
    width: 156px;
    height: 50px;
}
.header, .nav_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header {
    background-color: var(--Fundo);
    box-shadow: 1px 1px 6px var(--Sombra);
    height: 90px;
    justify-content: space-between;
    padding: 0 20%;
} 
.nav_header {
    gap: 2em;
    z-index: 2;
}
.nav_header a {
    display: block;
    text-decoration: none;
    color: var(--Escrita);
    transition: 0.5s;
    font-family: var(--fonte1);
    font-weight: bold;
    padding: 10px;
}
.flexbox {
    padding: 38px;

}
.flexbox h1{
    font-family: var(--fonte1);
    color: var(--Escrita);
    text-align: center;
    font-size: 28px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    
    
}
.flex  div {
    background-color: white;
    flex: 1 1 200px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding: 12px;
}
.flex div p{
    font-family: var(--Escrita);
    border: none;
    color: var(--Escrita);
    text-align: center;
    color: black;
    padding: 10px;
    
}

footer {
    font-family: var(--fonte1);
    color: var(--Escrita);
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

